@mixin theme($light-theme: true) {
    @if $light-theme {
     
        background: colors(background-color-light); 
    }@else{
        
        background:darken($background-color-light,85%);
        
    }
}
@mixin grid($row-start,$row-end,$coulmn-start,$coulun-end) {
    display: grid;
    grid-column-start: $coulmn-start;
    grid-column-end: $coulun-end;
    grid-row-start: $row-start;
    grid-row-end:$row-end ;
}
@mixin flex {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
   
}
@function colors($color-number){
    @return map-get($main-colors, $color-number );
}
@mixin mobile {
    @media (max-width:840px) {
        @content;
    }
}
$background-color-light:#f0f8ff;
@function colors($color-number){
    @return map-get($main-colors, $color-number );
}

@function sizes($size){
    @return map-get($sizes, $size);
}
