
$main-colors:(
  "background-color-light": aliceblue,
  "second-color": #C0D59A,
  "third-color": #B57F50,
  "fourth-color": #2F323A,
  "fivth-color": #7DBA84,
  "text-color": black
);
$fonts-family:(
 "main":"Roboto mono"
);
$flex-position:(
    "fstart":flex-start,
    "fend":flex-end,
    "ctr":center,
    "sbetween":space-between,
    "saround":space-around,
    "sevenly":space-evenly
);
$sizes:(
    "v-small": 1px,
    "small": 5px,
    "medium": 1rem,
    "large": 3rem
);
