$bodycolor: #888888;

$main-colors:(
  "background-color": aliceblue,
  "second-color": #C0D59A,
  "third-color": #B57F50,
  "text-color": black
);
$flex-position:(
    "fstart":flex-start,
    "fend":flex-end,
    "ctr":center,
    "sbetween":space-between,
    "saround":space-around,
    "sevenly":space-evenly
);

body{
    background: map-get($main-colors , background-color );
}
$sizes:(
    "v-small": 1px,
    "small": 5px,
    "medium": 1em,
    "large": 3em
);
.main_container{
    display: flex;

.main_form{
    border: solid;
    border-width: map-get($sizes , v-small );
    background: map-get($main-colors , second-color );
    &_section{
        padding: map-get($sizes , medium );
    }
}}